footer {
  font-family: 'Baskerville';
  text-align: center;
}

/*IMAGES*/

img.homeimage {
  display: block;
  margin: 0 auto;
  top: 100px;
  padding: 20px;
}

@media (max-width: 430px) {     /*MAKES IMAGE DISAPPEAR*/
  img.homeimage {
    display: none;
  }
}

/*NAVBAR*/

/* Larger than mobile */
@media (max-width: 400px) {
  .navwrap {
    width:100%;
    text-align: center;
  }
}

#navwrap {
    width: 13.3333333333%;
    padding-bottom: 0px;
    z-index: 1; /* Makes sure that the menu stays on top of other page elements */
    position: fixed; top:13.3333%; left:13.3333%
    background-color: white;
    font-variant:small-caps;
  }



		#main_nav ul {
			background: white;
			text-align: center;
			-webkit-transition: .5s;
			transition: .5s;
      position: relative;
      display:block;
		}

		#main_nav li {
			float: right;
			position: relative;
			width: 100px;
			list-style: none;
			-webkit-transition: .5s;
			transition: .5s;
		}

		#main_nav a {
			display: inline-block;
			text-decoration: none;
			padding:0;
			color:  #a6a6a6;
      position: relative;
		}

		#main_nav a:hover {
		color:#a5c8ec
}
		#main_nav ul ul {
			position: absolute;
			top: 100%;
			visibility: hidden;
			opacity: 0;
      display: block; left:45px; top:-13px;
		}

		#main_nav ul ul ul {
			left: 55px;
			top: -12px;
    		}

		#main_nav li:hover, #main_nav li:hover li {
			background: white;
			color:#a5c8ec;
      position:relative;
      display: block; left

		}

		#main_nav li li:hover, #main_nav li li:hover li {
			background: white;
			color:#a5c8ec;
      position:relative;
		}


		#main_nav li:hover > ul {
			visibility: visible;
			opacity: 1;

		}
