/*div.sideimage {
  text-align: right;
}
side images for different pages*/

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*general background page color*/
body {
  background-color: hsl(211, 100%, 98%);
  font-family: Baskerville;
}

  body.index{
    background-color: white;
}


h1 {
  font-family: "Courier New";
  text-align: center;
  color: black;
  padding-top: 50px;
  padding-bottom: 10px;
}

.content {
  margin-left: 60px;
  margin-right: 800px;
  text-align: justify;

}

a {
  text-decoration: none;
  text-align: center;
  color: #a6a6a6;
}
a:hover, a:active {
  color: #76a8cd;
}

nav {
  font-family: Baskerville;
  font-size: 12;
  text-align: center;
  text-decoration: none;
}
/*for navigation*/
ul {
  position:fixed;
  top: 0;
  width: 100%;
}


#techlist li {
  display:list-item;
}

#navbar ul, li {
  display: inline;
  padding: 10px;
}


}

li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 10px;
}

sub {
  margin-left: 60px;
}

/*IMAGES*/
IMG.rabbits {
    display: block;
    margin-left: auto;
    margin-right: auto }

/*.sideimage {
  float: right;
  position: static;
  height:
  width:
}*/
